* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* ------------------Page Index --------------------- */
/* ----HEADER----- */
header{
    padding: 50px;
    background-color: #04ADBF;
    text-align: center;
    
}

header h1{
    color: #fff;
    font-size: 3rem;
}

header p{
    color: #fff;
    font-size: 1.5rem;
}

/*-------NAV------ */
nav{
    
    background-color: Tomato;
    padding: 15px;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding-left: 100px;
}

nav ul li .en-cours{
    color: tomato;
    background-color: #FFF;
}

nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: #FFF;
}

nav ul li a:hover{
    border-bottom: 2px solid #fff;
}

nav ul li a:active{
    background-color: #04ADBF;
}

/* -------MAIN-------- */
.container{
    height: 300px;
}

/* -----------------PAGE PHP et SQL---------------------- */

/* -------MAIN-------- */
main{
    background-color: #fff;
    padding: 50px;
}

main .article1{
    padding: 40px;
    margin: auto;
    text-align: center;
}
main .article1 p{
    color: #303030;
    font-size: 1.5rem;
}

main .article1 p span{
    color: tomato;
    font-size: 2rem;
}

/* -------MAIN article2-------- */
main .article2{
    background-color: #04ADBF;
    margin: 30px;
    padding: 50px;
}

main .article2 table{
    width: 80%;
    background-color: #FFF;
    border: #04ADBF 1px solid;
    margin: auto;
    
}

main .article2 table caption{
    color: #FFF;
    font-size: 2rem;
}

main .article2 table tr{
    border: #04ADBF 1px solid;
    height: 20px;
}

main .article2 table tr th{
    border: #04ADBF 1px solid;
}
main .article2 table tr td{
    border: #04ADBF 1px solid;
}

/* -------MAIN article3-------- */

main .article3{
    background-color: #FFF;
    padding: 40px;
    border-bottom: 1px solid #000533;
}

main .article3 h3{
    color: #8C4A20;
    font-size: 2rem;
    padding: 10px;
}

main .article3 ul{
    color: #000533;
}

/* -------MAIN article4-------- */
main .article4{
    background-color: #DCDCDC;
    padding: 30px;
}

main .article4 h3{
    color: #000;
    padding: 10px;
}

/* -------MAIN article5-------- */
main .article5{
    background-color: tomato;
    text-align: center;
    margin-top: 30px;
}

main .article5 label{
    font-size: 1.7rem;
    color: #FFF;
}

main .article5 progress{
    width: 50%;
    height: 20px;
}

/* -------ASIDE-------- */
aside{
    margin-bottom: 80px;
}

aside blockquote{
    color: tomato;
    width: 50%;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-size: 2rem;
    border: 1px solid tomato;
}


/* -------FOOTER-------- */
footer{
    background-color:#787878;
    padding: 20px;
}

footer p, ul {
    color: #FFF;
}


/* --------------------Page Contact---------------------- */

/* ------FROMULAIRE-------- */
.contact{
    background-color: #ffffcc;
    padding-bottom: 100px;
}

.contact form{
    width: 50%;
    margin: auto;  
}

.contact form label{
    color: #000533;
    font-size: 1.5rem;
}

input[type=text], input[type=email], input[type=number],
input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid tomato;
  }

  textarea{
      width: 100%;
      border: 1px solid tomato;
  }

  input[type=radio], input[type=date], input[type=color], select{
      width: 20%;
      border: 1px solid tomato;
  }

  input[type=submit]{
      border: none;
      background-color: #04ADBF;
      padding: 10px;
      color: #FFF;
      cursor: pointer;
  }